/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

.example-header-image {
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ion-content {
    margin: 2em auto;
    text-align: center;
}

ion-content ion-toolbar {
    border-radius: 10px;
    width: 88%;
    text-align: center;
    margin: auto;
    padding: 19px;

    // margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    --background: rgb(192, 190, 190);
}

.orange {
    --background: #f04f23;
}

.fondo {
    --background: url(../../../assets/img/fondo.jpg)
}