<div *ngIf="showSplash" class="splash">
  <br>
  <br>
  <br>
  <br>
  <h4 class="">Nicolas Sande</h4>
  <br>
  <br>
  <ion-row>
    <ion-col>
      <img class="img1 ld ld-spring-ttb-in" src="../assets/img/animales.png" alt="">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <img class="img ld ld-spring-ltr-in" src="../assets/img/colores.png" alt="">
    </ion-col>
    <ion-col>
      <img class="img ld ld-spring-rtl-in" src="../assets/img/numeros.png" alt="">
    </ion-col>
  </ion-row>
  
  <br>
  <br>
  <h4>Comisión 4B</h4>
</div>
<ion-app >
  <ion-router-outlet></ion-router-outlet>
</ion-app>
