<div *ngIf="showSplash" class="splash">
  <br>
  <br>
  <br>
  <br>
  <h4 class="">Nicolas Sande</h4>
  <ion-row>
    <ion-col>
      <img class="img1" src="../assets/img/animales.png" alt="">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <img class="img" src="../assets/img/colores.png" alt="">
    </ion-col>
    <ion-col>
      <img class="img" src="../assets/img/numeros.png" alt="">
    </ion-col>
  </ion-row>
  
  <h4>Comision 4B</h4>
</div>
<ion-app >
  <ion-router-outlet></ion-router-outlet>
</ion-app>
